.title {
    display: flex;
    align-items: center;
    border-block-end: 1px solid transparent;
    width: 100%;
    height: var(--nav-height);
    font-size: 16px;
    font-weight: 600;
    color: var(--c-text-1);
    transition: opacity 250ms;

    @media (min-width: 960px) {
        flex-shrink: 0;
    }
}

.title:hover {
    opacity: 0.6;
}

.logo {
    margin-inline-end: 8px;
    height: 24px;
}