.tagInput {
    position: relative;
    border-style: none;
    border: none;
    display: block;
    flex: 1 1 auto;
    margin: 5px;
    min-height: 100%;
    font-size: 12pt;
}

.tagInputWrapper {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}