.NavBar {
  position: relative;
  border-block-end: 1px solid transparent;
  padding: 0 8px 0 24px;
  height: var(--nav-height);
  transition: border-color 500ms, background-color 500ms;
  pointer-events: none;

  @media (min-width: 768px) {
    padding: 0 32px;
  }
}
@media (min-width: 960px) {
  .NavBar.fill {
    border-bottom-color: var(--c-gutter);
    background-color: var(--nav-bg-color);
  }
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: calc(var(--layout-max-width) - 64px);
  height: var(--nav-height);
  pointer-events: none;
}

.container * {
  pointer-events: auto;
}

.title {
  flex-shrink: 0;
  height: calc(var(--nav-height) - 1px);
  transition: background-color 500ms;
}

.content {
  flex-grow: 1;
}

.content-body {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* max-width: 671px; */
  height: calc(var(--nav-height) - 1px);
  transition: background-color 500ms;
}

.content-body:last-child {
  position: relative;
  right: 0;
}

@media (min-width: 960px) {
  .NavBar.fill {
    background-color: var(--nav-bg-color);
  }
}
