.form {
  display: flex;
  flex-direction: column;
  max-width: 592px;
  margin-inline: auto;
  margin-block: 120px;
  padding: 1rem;

  & input {
    background-color: var(--vp-c-bg-soft-mute);
    padding: 1rem;
    border-radius: 5px;
  }

  & textarea {
    background-color: var(--vp-c-bg-soft-mute);
    padding: 1rem;
    border-radius: 5px;
  }

  & input[type="submit"] {
    margin-top: 1rem;
    padding: 1rem;
    background-color: var(--vp-c-brand);
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.25rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: var(--vp-c-brand-light);
    }
  }

  & label {
    margin-top: 1rem;
    align-self: flex-start;
    font-size: 1rem;
    color: var(--vp-c-text-2);
    font-weight: 700;
    text-transform: uppercase;
  }
}