.Home {
  padding-block-end: 96px;

  @media (min-width: 768px) {
    padding-block-end: 128px;
  }
}

.Hero {
  margin-top: calc((var(--nav-height) + var(--layout-top-height, 0px)) * -1);
  padding: calc(var(--nav-height) + var(--layout-top-height, 0px) + 48px) 24px
    48px;

  @media (min-width: 640px) {
    padding: calc(var(--nav-height) + var(--layout-top-height, 0px) + 80px) 48px
      64px;
  }

  @media (min-width: 960px) {
    padding: calc(var(--nav-height) + var(--layout-top-height, 0px) + 80px) 64px
      64px;
  }
}

.Hero.has-image .container {
  text-align: center;

  @media (min-width: 960px) {
    text-align: left;
  }
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1152px;

  @media (min-width: 960px) {
    flex-direction: row;
  }
}

.main {
  position: relative;
  z-index: 10;
  order: 2;
  flex-grow: 1;
  flex-shrink: 0;

  @media (min-width: 960px) {
    order: 1;
    width: calc((100% / 3) * 2);
  }
}

@media (min-width: 960px) {
  .Hero.has-image .main {
    max-width: 592px;
  }
}

.Hero.has-image .name,
.Hero.has-image .text {
  margin: 0 auto;
}

.name {
  color: var(--home-hero-name-color);
}

.name,
.text {
  max-width: 392px;
  letter-spacing: -0.4px;
  line-height: 40px;
  font-size: 32px;
  font-weight: 700;
  white-space: pre-wrap;
}

@media (min-width: 640px) {
  .name,
  .text {
    max-width: 576px;
    line-height: 56px;
    font-size: 48px;
  }
}

@media (min-width: 960px) {
  .Hero.has-image .name,
  .Hero.has-image .text {
    line-height: 64px;
    font-size: 56px;
    margin: 0;
  }
}

.clip {
  background: var(--home-hero-name-background);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: var(--home-hero-name-color);
}

.Hero.has-image .tagline {
  margin: 0 auto;

  @media (min-width: 960px) {
    margin: 0;
  }
}

.tagline {
  padding-top: 8px;
  max-width: 392px;
  line-height: 28px;
  font-size: 18px;
  font-weight: 500;
  white-space: pre-wrap;
  color: var(--c-text-2);

  @media (min-width: 640px) {
    padding-top: 12px;
    max-width: 576px;
    line-height: 32px;
    font-size: 20px;
  }

  @media (min-width: 960px) {
    line-height: 36px;
    font-size: 24px;
  }
}

.Hero.has-image .actions {
  justify-content: center;

  @media (min-width: 960px) {
    justify-content: flex-start;
  }
}

.actions {
  display: flex;
  flex-wrap: wrap;
  margin: -6px;
  padding-top: 24px;

  @media (min-width: 640px) {
    padding-top: 32px;
  }
}

.action {
  flex-shrink: 0;
  padding: 6px;
}

.Button.brand {
  border-color: var(--button-brand-border);
  color: var(--button-brand-text);
  background-color: rgb(90, 99, 252);
}

.Button.brand:hover {
  border-color: var(--button-brand-hover-border);
  color: var(--button-brand-hover-text);
  background-color: var(--button-brand-hover-bg);
}

.Button.brand:active {
  border-color: var(--button-brand-active-border);
  color: var(--button-brand-active-text);
  background-color: var(--button-brand-active-bg);
}

.Button.medium {
  border-radius: 20px;
  padding: 0 20px;
  line-height: 38px;
  font-size: 14px;
}

.Button {
  display: inline-block;
  border: 1px solid transparent;
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
  transition: color 250ms, border-color 250ms, background-color 250ms;
}

.Button.alt {
  border-color: var(--button-alt-border);
  color: var(--button-alt-text);
  background-color: var(--button-alt-bg);
}

.Button.alt:hover {
  border-color: var(--button-alt-hover-border);
  color: var(--button-alt-hover-text);
  background-color: var(--button-alt-hover-bg);
}

.Button.alt:active {
  border-color: var(--button-alt-active-border);
  color: var(--button-alt-active-text);
  background-color: var(--button-alt-active-bg);
}

.image {
  order: 1;
  margin: -76px -24px -48px;

  @media (min-width: 640px) {
    margin: -108px -24px -48px;
  }

  @media (min-width: 960px) {
    flex-grow: 1;
    order: 2;
    margin: 0;
    min-height: 100%;
  }
}

.image-container {
  position: relative;
  margin: 0 auto;
  width: 320px;
  height: 320px;

  @media (min-width: 640px) {
    width: 392px;
    height: 392px;
  }

  @media (min-width: 960px) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translate(-32px, -32px);
  }
}

.image-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 192px;
  height: 192px;
  background-image: var(--home-hero-image-background-image);
  filter: var(--home-hero-image-filter);
  transform: translate(-50%, -50%);

  @media (min-width: 640px) {
    width: 256px;
    height: 256px;
  }

  @media (min-width: 960px) {
    width: 320px;
    height: 320px;
  }
}

.img-src {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 152px;
  max-height: 152px;
  transform: translate(-50%, -50%);
  filter: drop-shadow(-8px -6px 12px rgb(39, 278, 255, 0.25))
    drop-shadow(4px 4px 12px rgb(0, 0, 0, 0.25));

  @media (min-width: 640px) {
    max-width: 216px;
    max-height: 216px;
  }

  @media (min-width: 960px) {
    max-width: 280px;
    max-height: 280px;
  }
}

.eyes-container {
  display: flex;
}

.eyes-container .eyes {
  position: relative;
  display: block;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2),
    inset 0 0 15px rgb(71 202 255 / 0.6), inset 0 0 25px rgb(71 202 255 / 0.6);
  text-align: left;
  width: 8px;
  height: 8px;
  margin: 140px 11px;
  translate: 130px 2px;

  @media (min-width: 640px) {
    width: 12px;
    height: 12px;
    margin: 170px 14px;
    translate: 155px 0;
  }

  @media (min-width: 960px) {
    width: 14px;
    height: 14px;
    margin: -35px 18px;
    translate: revert;
  }
}

.container .eyes::before {
  content: '';
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #000;
  position: absolute;
  box-sizing: border-box;
  left: 2px;
  width: 3px;
  height: 3px;
  border: 2px solid black;

  @media (min-width: 640px) {
    left: 3px;
    width: 6px;
    height: 6px;
    border: 3px solid black;
  }

  @media (min-width: 960px) {
    left: 3px;
    width: 8px;
    height: 8px;
    border: 4px solid black;
  }
}
