.privacy-policy {
  padding: 2rem 1rem;
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  line-height: 1.5;

  & h1 {
    color: var(--c-text-1);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  & h2 {
    color: var(--c-text-1);
    font-weight: 700;
    margin-bottom: 1rem;
  }

  & p {
    color: var(--c-text-2);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  & ul {
    list-style: disc;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 1rem;

    & li {
      margin-bottom: 1rem;
    }
  }

  & a {
    color: var(--c-primary);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
