.NavScreen {
  position: fixed;
  top: calc(var(--nav-height) + var(--layout-top-height, 0px) + 1px);
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 32px;
  width: 100%;
  background-color: var(--nav-screen-bg-color);
  overflow-y: auto;
  transition: background-color 500ms;
  pointer-events: auto;

  @media (min-width: 768px) {
    display: none;
  }
}

/* .NavScreen.fade-enter-active,
.NavScreen.fade-leave-active {
  transition: opacity 0.25s;
}

.NavScreen.fade-enter-active .container,
.NavScreen.fade-leave-active .container {
  transition: transform 0.25s ease;
}

.NavScreen.fade-enter-from,
.NavScreen.fade-leave-to {
  opacity: 0;
}

.NavScreen.fade-enter-from .container,
.NavScreen.fade-leave-to .container {
  transform: translateY(-8px);
} */

.container {
  margin: 0 auto;
  padding: 24px 0 96px;
  max-width: 288px;
}

.NavScreenMenuLink {
  display: block;
  border-bottom: 1px solid var(--c-divider);
  padding: 12px 0 11px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 500;
  color: var(--c-text-1);
  transition: border-color 0.25s, color 0.25s;
}

.NavScreenMenuLink:hover {
  color: var(--c-brand);
}

.NavScreenMenuGroup {
  /* border-block-end: 1px solid var(--c-divider); */
  height: 48px;
  overflow: hidden;
  /* transition: border-color 500ms; */
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 4px 11px 0;
  width: 100%;
  line-height: 24px;
  font-size: 14px;
  font-weight: 500;
  color: var(--c-text-1);
  transition: color 250ms;
}

.NavScreenMenuGroup.open {
  padding-block-end: 10px;
  height: auto;
}

.NavScreenMenuGroup.open .button {
  padding-block-end: 6px;
  color: var(--c-brand);
}

.NavScreenMenuGroup.open .button-icon {
  transform: rotate(45deg);
}

.NavScreenMenuGroup .items {
  visibility: hidden;
}

.NavScreenMenuGroup.open .items {
  visibility: visible;
}

.NavScreenMenuGroupLink {
  display: block;
  margin-inline-start: 12px;
  line-height: 32px;
  font-size: 14px;
  transition: color 250ms;

  &:hover {
    color: var(--c-brand);
  }
}

.link.link:hover,
.link.link:active {
  color: var(--c-brand-lighter);
}

.external-link-icon::after {
  content: '';
}

:is(.external-link-icon):after {
  display: inline-block;
  margin-top: -1px;
  margin-left: 4px;
  width: 11px;
  height: 11px;
  background: currentColor;
  flex-shrink: 0;
  --icon: url(data:image/svg+xml;base64,CiA8c3ZnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zycgdmlld0JveD0nMCAwIDI0IDI0JyA+PHBhdGggZD0nTTAgMGgyNHYyNEgwVjB6JyBmaWxsPSdub25lJyAvPjxwYXRoIGQ9J005IDV2Mmg2LjU5TDQgMTguNTkgNS40MSAyMCAxNyA4LjQxVjE1aDJWNUg5eicgLz48L3N2Zz4K);
  -webkit-mask-image: var(--icon);
  mask-image: var(--icon);
}

.NavScreenMenuGroupSection {
  display: block;
}

.button-icon {
  width: 14px;
  height: 14px;
  fill: var(--c-text-2);
  transition: fill 500ms, transform 250ms;
}

.appearance {
  margin-top: 24px;
}

.social-links {
  margin-block-start: 16px;
}

.NavScreenAppearance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 12px 14px 12px 16px;
  background-color: var(--c-bg-soft);
}

.text {
  line-height: 24px;
  font-size: 12px;
  font-weight: 500;
  color: var(--c-text-2);
}

.SocialLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.SocialLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  color: var(--c-text-2);
  transition: color 500ms;
}

.SocialLink:hover {
  color: var(--c-text-1);
  transition: color 250ms;
}

.SocialLink > svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.SwitchAppearance.dark .check {
  transform: translateX(100%);
}
